.lang-search-nav__list:after {
  content: '';
  display: block;
  clear: both;
}

.lang-search-nav__item {
  float: left;
  cursor: pointer;
  font-size: 14px;
  color: var(--utils-color);
}

.lang-search-nav__item:not(:first-child) {
  margin-left: 20px;
}

.lang-search-nav__item:hover,
.lang-search-nav__item--active {
  color: var(--menu-item-color-active);
}

.lang-search-nav__item--search {
  position: relative;
  padding-left: 16px;
}

 .lang-search-nav__search-link {
  text-decoration: none;
}

 .lang-search-nav__item-text {
  vertical-align: middle;
}

.lang-search-nav__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
}


@media screen and (max-width: 768px) {
  .lang-search-nav__item {
    float: none;
    margin-top: 30px;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
  }

  .lang-search-nav__item:not(:first-child) {
    margin-left: 0;
  }

  .lang-search-nav__item:hover,
  .lang-search-nav__item--active {
    color: var(--menu-item-color-active);
  }

  .lang-search-nav__icon {
    display: none;
  }
}

