body {
  background: rgba(0,0,0,.1);
  color: #333;
  transition: opacity .2s ease;
}

.layout {
  position: relative;
  max-width: var(--page-max-width);
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: var(--footer-height);
  background: var(--page-bg);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
}

.layout__header {}

.layout__head {
   position: relative;
   height: var(--head-height);
   padding: 0 30px;
   background: url('../../images/header-bg.jpg') 0 0 no-repeat;
 }

.layout__logo {
   position: absolute;
   top: 50%;
   left: 30px;
   transform: translateY(-53%);
 }

.layout__logo-icon {
  width: 150px;
  height: 56px;
}

.layout__controls {
   position: absolute;
   top: 30px;
   right: 30px;
 }

.layout__controls:after {
  content: '';
  display: block;
  clear: both;
}

.layout__nav {
   position: absolute;
   right: 30px;
   bottom: 18px;
 }

.layout__nav,
.layout__nav-mobile,
.layout__utils {
   float: left;
 }

.layout__utils {
   position: absolute;
   top: 17px;
   right: 30px;
 }

.layout__nav-mobile {
   display: none;
   position: absolute;
   top: 50%;
   right: 30px;
   transform: translateY(-50%);
   z-index: 9;
 }

.layout__slider {}

.layout__main {}

.layout__footer {
   position: absolute;
   left: 30px;
   right: 30px;
   bottom: 0;
   height: var(--footer-height);
   border-top: 1px solid #4b7801;
   line-height: 50px;
   font-size: 14px;
 }

@media screen and (max-width: 768px) {
  .layout__nav {
    display: none;
  }

  .layout__utils {
    display: none;
  }

  .layout__nav-mobile {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .layout__slider {
    margin: 0;
  }
}
