.nav__list:after {
  content: '';
  display: block;
  clear: both;
}

.nav__item {
  position: relative;
  float: left;
  margin-left: 20px;
  font-weight: bold;
  color: var(--menu-item-color);
}

.nav__item:first-child {
   margin-left: 0;
 }

.nav__item:hover,
.nav__item--opened,
.nav__item--active {
   color: var(--menu-item-color-active);
 }

.nav__link,
.nav__trigger {
   text-decoration: none;
   color: inherit;
   text-transform: uppercase;
   font-size: 13px;
}

.nav__trigger {
   cursor: pointer;
}

.nav__sublist-wrapper {}

.nav__sublist {
   display: none;
   box-sizing: border-box;
   overflow: hidden;
   position: absolute;
   left: 50%;
   top: 25px;
   padding: 24px 18px 12px;
   background: var(--menu-item-color-active);
   transform: translateX(-50%);
   z-index: 1;
 }

.nav__subitem {
  display: inline-block;
  margin-top: 10px;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid transparent;
  line-height: 0.9;
  transition: border-bottom-color 0.2s ease;
}

.nav__subitem:hover,
.nav__subitem--active {
  border-bottom-color: #fff;
}

.nav__subitem:first-child {
  margin-top: 0;
}

.nav__sublink {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
 }
