.lang-search-nav {
    &__list {
        @include clearfix;
    }

    &__item {
        float: left;
        cursor: pointer;
		font-size: 14px;
		color: $utils-color;

        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover,
        &--active {
            color: $menu-item-color-active;
        }

		&--search {
			position: relative;
			padding-left: 16px;
		}
    }

	&__search-link {
		text-decoration: none;
	}

	&__item-text {
		vertical-align: middle;
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
	}
}

@media screen and (max-width: $tablet-medium-breakpoint) {
	.lang-search-nav {
		&__item {
			float: none;
			margin-top: 30px;
			padding-left: 0;
			text-transform: uppercase;
			font-weight: bold;
			color: #333;

			&:hover,
			&--active {
				color: $menu-item-color-active;
			}

			&:not(:first-child) {
				margin-left: 0;
			}
		}

		&__icon {
			display: none;
		}
	}
}
