body {
    background: rgba(0,0,0,.1);
    color: #333;
    transition: opacity .2s ease;
}

.layout {
    position: relative;
    max-width: $page-max-width;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: $footer-height;
    background: $page-bg;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);

    &__header {

    }

    &__head {
        position: relative;
        height: $head-height;
        padding: 0 30px;
        background: url('../../images/header-bg.jpg') 0 0 no-repeat;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-53%);
    }

    &__logo-icon {
        width: 150px;
        height: 56px;
    }

    &__controls {
        position: absolute;
        top: 30px;
        right: 30px;

        @include clearfix;
    }

	&__nav {
		position: absolute;
		right: 30px;
		bottom: 18px;
	}

    &__nav,
    &__nav-mobile,
    &__lang-search-nav {
        float: left;
    }

    &__lang-search-nav {
        position: absolute;
		top: 17px;
		right: 30px;
    }

    &__nav-mobile {
        display: none;
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translateY(-50%);
		z-index: 9;
    }

    &__slider {

    }

    &__main {

    }

    &__footer {
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 0;
        height: $footer-height;
		border-top: 1px solid #4b7801;
        line-height: 50px;
        font-size: 14px;
    }
}

@media screen and (max-width: $tablet-medium-breakpoint) {
    .layout {
        &__nav {
            display: none;
        }

		&__lang-search-nav {
			display: none;
		}

        &__nav-mobile {
            display: block;
        }
    }
}

@media screen and (max-width: $phone-breakpoint) {
    .layout {
        &__slider {
            margin: 0;
        }
    }
}
