.light-box {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20,22,24,0.95);
    opacity: 0;
    z-index: 100;
    transition: opacity .4s ease;

    &.__visible {
        opacity: 1;
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: #f0f0f0;

        &:hover {
            color: $link-color-active;
        }
    }

    &__image-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__image {
        transform: scale(0);
        z-index: 101;
        transition: transform .4s ease;

        &.__full-size {
            transform: scale(1);
        }
    }

    &__loader,
    &__loader:before,
    &__loader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation: load7 1.8s infinite ease-in-out;
        animation: load7 1.8s infinite ease-in-out;
    }

    &__loader:before,
    &__loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    &__loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    &__loader:after {
        left: 3.5em;
    }

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        font-size: 10px;
        margin-left: -1.25em;
        margin-top: -1.25em;
        text-indent: -9999em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
        z-index: 11;
    }

    @-webkit-keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }

    @keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }
}
