.search-card {
    position: relative;
    overflow: hidden;

    @include clearfix;

    &__thumbnail-wrapper {
        position: relative;
        float: left;
        width: 150px;
    }

    &__image-link {
        display: block;
    }

    &__thumbnail {
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto;
        cursor: pointer;
    }

    &__main {
        position: absolute;
        top: 50%;
        left: 170px;
        right: 0;
        transform: translateY(-50%);
    }

    &__name,
    &__subsection {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__article {
		margin-bottom: 4px;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__name {
		font-size: 18px;

		.search-card__link {
			font-size: 18px;
		}
    }

    &__subsection {
		margin-top: 4px;

		&--sm-indent {
			margin-top: 1px;
		}
	}

	&__link,
	&__subsection-link {
		display: inline-block;
		border-bottom: 1px solid $link-border-color;
		font-size: 15px;
		color: $link-color;
		text-decoration: none;
		line-height: 1;

		@include text-color-transition;

		&:hover {
			color: $link-color-hover;
			border-color: $link-color-hover;
		}
	}
}

@media screen and (max-width: $tablet-medium-breakpoint) {
    .search-card {
        &__thumbnail {
            cursor: default;
        }
    }
}

@media screen and (max-width: $phone-breakpoint) {
    .search-card {
        padding: 15px 15px 20px;

        &__thumbnail-wrapper {
            position: relative;
            float: none;
            width: auto;
        }

        &__main {
            position: static;
            top: auto;
            left: auto;
            right: auto;
            transform: none;
            margin-top: 12px;
        }

        &__article {
            margin-bottom: 2px;
        }

        &__subsection {
            margin-top: 2px;
        }
    }
}
