// base paletton color #ADAD6B

$page-max-width: 1000px;
$head-height: 80px;
$footer-height: 80px;

$nav-breakpoint: 700px;

$phone-breakpoint: 576px;
$tablet-medium-breakpoint: 768px;
$tablet-large-breakpoint: 992px;

$page-bg: #f9f9f2;

$link-color: #546B26;
$link-border-color: #a9b592;
//$link-color-hover: #ff8400;
$link-color-hover: #ecba1b;
$link-color-active: #ecba1b;
$menu-item-color: #fefb7b;
$menu-item-color-active: #edba1a;
$utils-color: #e0e2d8;
